.workout-completed-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.black-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.7;
    animation: fadeInFromNone 1s linear;
}

@keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.7;
    }
}
